<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-use.pageInfo="com.brookfieldpropertiesprogram.core.models.PageInfoRequestModel"
     data-sly-use.cta="com.brookfieldpropertiesprogram.core.models.NavigationLink"
     >
    ${properties.text @context='html'}
    <a x-cq-linkchecker="skip" href="{{@root.unit.olLink}}" class="${cta.btnType} ${cta.cssClass}" target="${cta.target}">${cta.label}</a>
</sly>
<sly data-sly-call="${templates.placeholder @ isEmpty = !properties.label, classAppend='cmp-text'}"></sly>
