
//universal colors
$black: #000000;
$universal-alto:#191919;
$universal-salt:#FFFFFF;
$utility-red: #BD0000;
$transparent: transparent;
$focus-outline: #0161AD;

//theme-eugene (Eugene) colors
$eugene-primary: #85754E;
$eugene-secondary: #D1CBBA;
$eugene-tertiary:  #D1B97B;

//theme-third (Third at Bankside) colors
$third-primary: #3B8589;
$third-secondary: #191919;
$third-tertiary: #E86F52;


//theme-radian (Radian) colors
$radian-primary: #243343;
$radian-secondary: #F5F0EA;
$radian-tertiary: #C6C5B7;


//theme-nashvilletheplace (The Place at Nashville) colors
$nashvilletheplace-primary: #C09473;
$nashvilletheplace-secondary: #3D4543;
$nashvilletheplace-tertiary: #D7D1CB;


//theme-webster11 (Webster 11) colors
$webster11-primary: #0F0F0F;
$webster11-secondary:  #97999B;
$webster11-tertiary: #C4BFB6;

//theme-george (The George)
$george-primary: #032638;
$george-secondary:  #222223;
$george-tertiary: #bdb8ab;


//theme-edmund (The Edmund)
$edmund-primary: #2e344c;
$edmund-secondary:  #98b7d3;
$edmund-tertiary: #5c8fb4;


//theme-olivia (The Olivia)

$olivia-primary: #894333;
$olivia-secondary: #fffbf8;
$olivia-tertiary: #191919;


//theme-burnham (Burnham)
$burnham-primary: #E8D36F;
$burnham-secondary:  #22304E;
$burnham-tertiary: #4D4D4D;


//brookfield site: bp-theme-1 colors
$brookfield-primary: #063655;
$brookfield-nero: #032139;
$brookfield-echo: #758D9C;
$brookfield-echo-20: rgba(117, 141, 156, 0.2);
$brookfield-sapphire: #0161AD;
$brookfield-sapphire-50:rgba(1, 97, 173, 0.5);
$brookfield-sapphire-30:rgba(62, 118, 165, 0.3);
$brookfield-sapphire-20:rgba(1, 97, 173, 0.2);
$brookfield-chartreuse: #00FF3D;
$brookfield-chartreuse-50:rgba(0, 255, 61, 0.5);
$brookfield-chartreuse-20:rgba(0, 255, 61, 0.2);