<template data-sly-template.template="${@ properties,provider,tourId}">
    <sly data-sly-test="${provider == 'panoskin'}">
        <div 
            <div id="panoskin-tour"
            data-tour-id="${tourId}"
            data-tour-hide-buttons="${properties.hideButtons}"
            data-tour-hide-fullscreen="${properties.hideFullscreen}"
            data-cmp-component="panoskin-tour"
            class="panoskin-tour__wrapper"></div>
        <script src="//lcp360.cachefly.net/panoskin.js"></script>
        <script>
            (function () {
                var id = 'panoskin-tour';
                var elem = document.getElementById(id);
                var tourId = elem.getAttribute("data-tour-id");
                var hideButtonsStr = elem.getAttribute("data-tour-hide-buttons");
                var hideButtonsArr = hideButtonsStr ? hideButtonsStr.split(",").map(function (e) {
                    return e.trim();
                }) : [];
                var hideFullscreen = elem.getAttribute("data-tour-hide-fullscreen") === "true";
                var attrs = {
                    id: id,
                    tour: tourId,
                    hideFullScreen: hideFullscreen,
                    hideButtons: hideButtonsArr
                };
                PANOSKIN.createViewer(attrs);
            })();
        </script>
    </sly>
    <sly data-sly-test="${provider == 'matterport'}">        
            <iframe src="https://my.matterport.com/show/?m=${tourId}" frameborder="0" allowfullscreen allow="xr-spatial-tracking"></iframe>        
    </sly>
</template>